html,body{
  height: 100%;
}

body {
  margin: 0;
  background-image: url("/src/weather-icons/wallpaper.jpg") ; 
    
}
* {
  box-sizing: border-box;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
