.info {
	box-sizing: border-box;
	/*height:120px;*/ 
	width:50%;
	display: flex; 
	justify-content: center;
	flex-direction: column;
	color: white;
	align-items: center;
	
	
}





 .block{
	height: 800px;
	display: flex; 
	flex-wrap: wrap;
	align-content: space-around;
	align-items: center;
	width:calc((100% - 80px) / 3); 
	border:2px solid rgb(16, 164, 223);
	border-radius: 15px;
	overflow: hidden;
	background-color: rgba(16, 164, 223, 0.4);
	
	
 }

 .block h1 {
	 text-align: center;
 }

 p {
	 box-sizing: border-box;
	 margin: 0;
	 text-align: center;
	 display: flex;
    align-items: center;
    justify-content: center;
	 
 }

 

 span {
	 margin : 10px;
 }

 .heading{
	 height: 150px;
	 
 }

 

 .heading > img {
	/* flex:1 1 auto;*/
	height:120px;
 }

 

